<!doctype html>
<html lang="en">
  <head>
    <%- include('../includes/links.ejs') %>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../includes/admin-header.ejs') %>
    <div class="container mt-3">
      <div class="card-deck">
        <% prods.forEach(element => { %>
          <div class="card" style="max-width: 18rem; max-height: 30rem;">
            <img class="card-img-top h-50" src="<%= element.imageurl %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= element.title %></h5>
              <p class="card-text"><%= element.description %></p>
              <h3 class="card-text font-weight-bold">$ <%= element.price %></h3>
              <div class="d-flex justify-content-around">
                <a href="delete/<%= element.id %>" class="btn btn-primary">Delete</a>
                <a href="add-product?updateID=<%= element.id %>" class="btn btn-secondary">Update</a>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    
    <%- include('../includes/footer.ejs') %>
</body>
</html>
