<!doctype html>
<html lang="en">
  <head>
    <%- include('../includes/links.ejs')%>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('../includes/shop-header.ejs')%>

    <% if(products.length <= 0) { %>
      <h1>No orders here!</h1>
    <% } else{ %>
      <ul>
        <% products.forEach(prod => { %>
          <li>
            <h1># <%= prod.id%></h1>
            <ul>
              <% prod.products.forEach(product => { %>
                <li><%= product.title %> (<%= product.orderItems.quantity %>) </li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    <% } %>

    </div>
    <%- include('../includes/footer.ejs')%>
</body>
</html>
